input
{
    font-size:20px;
    height: 200px;
    width:400px;
    margin-left: 20px;
    display: block;
}

input.break 
{
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

button
{
    margin-left: 20px;
    display: block;
}

#complementary
{
    padding-top: 50px;
}